/*
!    Name: Stephen Block
!    Date: 04.24.2023
!    File name: styles.css
!    Task: 1.8
!    Version: v1
*/

/*
Gray 100 = #c6cace
Gray 200 = #9ca4a6
Green Haze = #625D40
Yellow Accent = #a67212
Off Black = #171616
/*

/*
! Style rules for BODY. 
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #171616;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #c6cace;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
    text-align: center;
    margin: auto;
    margin-top: 1em;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

a {
    color: #c6cace ;
    text-decoration: none;
}

a:visited {
    color: #c6cace;
}

a:hover {
    color: #a67212;
    text-decoration: underline;
}

a:focus {
    color: #cc6540;
    text-decoration: underline;
}

a:active {
    color: #9ca4a6;
}

/*
! Style rules for HEADER 
*/

header {
    background-color: #171616;
    margin: .625em;
    padding: .625em;
    border-bottom: 3px solid #c6cace;
    text-align: center;
}

.logo {
    max-width: 250px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
}

/*
! Style rules for MAIN
*/

main {
    background-color:171616;
    padding: 0.625em;
}

.about {
    text-align: center;
}

.about div {
    text-align: left;
}

.peregrine.img {
    max-width: 300px;
    margin: 0 35px;
}

.container.peregrine h2 {
    color: #a67212
}

#portrait {
    max-width: 250px;
    border-radius: 4px;
}

#discord {
    text-decoration: underline;
}

#work {
    text-align: center;
}

.row01 {
    color:#171616;
}

.row01 h3 {
    text-align: left;
}

.row01 p {
    text-align: left;
}

.project01 {
    display: inline-block;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 4px;
    background-color: #9ca4a6;
}

.project02 {
    display: inline-block;
    padding: 25px;
    border-radius: 4px;
    background-color: #821515;
}

.view-project {
    text-align: left;
}

#project-img01 {
    max-width: 300px;
    border-radius: 4px;
}

#project-img02 {
    max-width: 300px;
    border-radius: 4px;
}

.button {
    display: inline-block;
    background-color: #a67212;
    color: #c6cace;
    font-weight: 400;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 2px solid #845a0e;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #c6cace;
}

.button:active {
    opacity: 0.8;
    text-decoration: none;
}

/*
! Style rules for FOOTER 
*/

footer {
    padding: 0.625em;
}

footer h2 {
    text-align: center;
}

.button.email {
    background-color: transparent;
    color: #a67212;
    text-transform: uppercase;
    border: 2px solid #a67212;
}

.button.email:hover {
    background-color: #a67212;
    color: #c6cace;
}

.button.email:active {
    background-color: #a67212;
    color: #9ca4a6;
}

#call {
    text-decoration: underline;
}

/*
!=================================
!Medium devices (640px and larger)
!=================================
*/
@media only screen and (min-width: 640px) {

    body {
        font-size: 18px;
    }

    header {
        text-align: unset;
        padding: 20px 0 13px;
    }
    
    nav {
        width: auto;
        float: right;
        margin-top: 75px;
    }

    #work h2 {
        margin-bottom: .67em;
    }

    .row01 {
        display: flex;
        justify-content: space-around;
    }

    #portrait {
        min-width: 75%;
    }

    #project-img01 {
        max-width: 100%;
    }

    #project-img02 {
        max-width: 100%;
    }

    .project01 {
        max-width: 45%;
        margin: unset;
    }

    .project02 {
        max-width: 45%;
    }


    }
    
    
    /*
    !=================================
    !LARGE devices (1024px and larger)
    !=================================
    */
    @media only screen and (min-width: 1024px) {
    
    body {
        font-size: 20px;
    }

    #hero {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .row01{
        display: flex;
        justify-content: center;
    }

    .project01 {
        max-width: 450px;
        margin-right: 70px;
    }

    .project02 {
        max-width: 450px;
    }
    }
    
    /*
    !===================================
    !X-LARGE devices (1440px and larger)
    !===================================
    */
    @media only screen and (min-width: 1440px) {
    
    body {
        font-size: 24px;
    }

    .row01{
        display: flex;
        justify-content: center;
    }

    .project01 {
        max-width: 450px;
        margin-right: 70px;
    }

    .project02 {
        max-width: 450px;
    }

    }
    
    /*
    !=====================================
    !ULTRAWIDE devices (1920px and larger)
    !=====================================
    */
    @media only screen and (mid-width: 1920px) {
    
    }