/*
!    Name: Stephen Block
!    Date: 04.10.2023
!    File name: styles.css
!    Task: 1.6
!    Version: v1
*/

/*
Gray 100 = #c6cace
Gray 200 = #9ca4a6
Green Haze = #625D40
Yellow Accent = #a67212
Off Black = #171616
/*

/*
! Style rules for BODY. 
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #171616;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #c6cace;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

a {
    color: #c6cace ;
    text-decoration: none;
}

a:visited {
    color: #c6cace;
}

a:hover {
    color: #a67212;
    text-decoration: underline;
}

a:focus {
    color: #cc6540;
    text-decoration: underline;
}

a:active {
    color: #9ca4a6;
}

/*
! Style rules for HEADER 
*/

header {
    background-color: #171616;
    margin: .625em;
    padding: .625em;
    border-bottom: 3px solid #c6cace;
    text-align: center;
}

.logo {
    max-width: 250px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
}

/*
! Style rules for MAIN
*/

main {
    background-color:171616;
    padding: 0.625em;
}

#hero h1 {
    text-align: center;
}

#work {
    text-align: center;
}

.row {
    margin: 25px 0;
    padding: 25px;
    display: inline-block;
    background-color: #9ca4a6;
    border-radius: 4px;
    color:#171616;
    text-align: left;
}

#work01 {
    max-width: 300px;
}

.button {
    display: inline-block;
    background-color: #a67212;
    color: #c6cace;
    font-weight: 400;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 2px solid #845a0e;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #c6cace;
}

.button:active {
    opacity: 0.8;
    text-decoration: none;
}

/*
! Style rules for FOOTER 
*/

footer {
    padding: 0.625em;
}

footer h2 {
    text-align: center;
}

.button.email {
    background-color: transparent;
    color: #a67212;
    text-transform: uppercase;
    border: 2px solid #a67212;
}

.button.email:hover {
    background-color: #a67212;
    color: #c6cace;
}

.button.email:active {
    background-color: #a67212;
    color: #9ca4a6;
}

#call {
    text-decoration: underline;
}