/*
!    Name: Stephen Block
!    Date: 04.10.2023
!    File name: styles.css
!    Task: 1.6
!    Version: v1
*/

/*
! Style rules for the body section. 
*/

body {
    background-color: #fafafa;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #4a4a4a;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

img {
    width: 100%;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover {
    color: #cc6540;
    text-decoration: underline;
}

a:focus {
    color: #cc6540;
    text-decoration: underline;
}

a:active {
    color: green;
}

/*
! Style rules for the header section. 
*/

header {
    background-color: #ff44c4;
    padding: 0.625em;
    margin: 0.625em;
    border-bottom: 3px solid #4a4a4a;
}

/*
! Style rules for the main section
*/

main {
    background-color: black;
    padding: 0.625em;
}

.button {
    display: inline-block;
    background-color: #ff7f50;
    color: #ffffff;
    font-weight: 400;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 2px solid #994c30;
    transition: 0.2s opacity;
}

.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button:active {
    opacity: 0.8;
    text-decoration: none;
}

/*
! Style rules for the footer section. 
*/

/* footer {
    background-color: #fafafa;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #4a4a4a;
} */

.button.email {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
}

.button.email:hover {
    background-color: #ff7f50;
    color: #ffffff;
}

.button.email:active {
    background-color: #ff7f50;
    color: #ffffff;
}